/* This container is needed to position the front and back side */
.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /*transition: transform 1.4s;
    transform-style: preserve-3d;*/
}

/* Do an horizontal flip when you move the mouse over the flip box container or when you use arrow key*/
/*
.mySlides:hover .flipper, .mySlides.hover .flipper {
    transform: rotateY(180deg);
}
*/
/* Position the front and back side */
.front, .back {
    border-radius:30px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: white;
}


/* Style the back side */

.back {
    transform: rotateY(180deg);
}

