<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="it">
  <meta name="keywords" content="AI, Emotion Detector, AI Project, Deep Learning">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/favicon.ico" rel="icon" type="image/x-icon">
    <script crossorigin="anonymous" src=
    "https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Oswald:wght@500&family=PT+Sans&family=Permanent+Marker&family=Rowdies:wght@700&family=Rubik:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fripen.css')}}">
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images1/ourlogo.png')}}">
      <!-- temp ico need to replace-->
    <link href="static/favicon.ico" rel="icon" type="image/x-icon">
    <!-- Font Awesome icons (free version)-->

    <script crossorigin="anonymous" src=
    "https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>

    <title>Fripen Fruit Detector</title>

  </head>

  <body>

  <nav class="navstuff">


       <a class="navbar-brand" style="background: transparent;">
      <div class="logo-image" style=" display: flex; align-items: bottom;">

        <img src="{{ url_for('static', filename='/images1/ourlogo.png')}}" class="img-fluid" style="max-width: 100%; max-height: 100%; ">

      </div>
    </a>
    <label class="logo">Fripen</label>


       
    
     
   
    <ul>
        <li><a href="home.html" style="color: white">Home</a></li>
        <li><a href="aboutus.html" style="color: white">About</a></li>
        <li><a href="data.html" style="color: white">Data</a></li>
        <li><a href="ourjourney.html" style="color: white">The Journey</a></li>
    </ul>
    
  </nav> 
    
<div class="outer" style = "width: 80%; margin: auto; justify-content: center;">
    <!-- left side of webpage -->
  
    <div class="inner" id="left">
      <div class="leftinner" id="textleft">
      <h1 class="heading1" style = "margin-top: 1rem;">Fruit Ripeness Detector</h1>
      <p class="p1" style = "margin-top: 1rem; text-indent: 25px;">A groundbreaking computer vision model designed to optimize harvest quality. Upload an image of a red apple, banana, or blueberry and Fripen will detect your fruit and classify it as ripe or unripe.</p>
      </div>
        <div class="box leftinner" id="buttonleft" style = "background: none;">
             <a class="mb-0" id='seefood_button' style = "background: none;">
                                <form id='seefood_form' method=post enctype=multipart/form-data>
                                    <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                                </form>
                                <button href="#" target="_blank" class="btn btn-success btn-circled btn-text btn-cust" style = "font-size: 1rem; padding-top:20px; padding-bottom:20px; border-radius: 25px; margin-top: -6rem; margin-left: auto; margin-right: auto;">
                                    <i class="fas fa-camera pr-2 left" aria-hidden="true"></i> Click to test Fruit
                                </button>
                            </a>
        </div>

    </div>
  
  <!-- right side of webpage -->
    <div class="inner" id="right">
      <div style="max-width: 100%; margin-left: 2rem; margin-top: -4rem">
        <img src="{{ url_for('static', filename='/images1/robo.jpg')}}" class="greenhouse" alt="greenhouse">
      </div>
    </div>
    
  </div>




    <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });
        });
    </script>
    <script src="js/scripts.js"></script> 
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
  
  
</html>
