<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="it">
  <meta name="keywords" content="AI, Emotion Detector, AI Project, Deep Learning">
  
  <meta name="author" content="">

  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">

  <!-- Main Stylesheet -->
         <link rel= "stylesheet" type= "text/css" href= "../static/css/data-style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/data-style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/miscellaneous.css')}}">
  
    
    <!-- Font Awesome icons (free version)-->

    <script crossorigin="anonymous" src=
    "https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images1/ourlogo.png')}}">
  <title>Fripen About Us Page</title>
</head>


<body id="top-header" style = "">


<!-- LOADER TEMPLATE -->
<div id="page-loader">
    <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->

     <!-- NAVBAR
    ================================================= -->
        
    <!-- Navigation-->
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="home.html"><strong>Ripen</strong></a>
        </li>

        <li class="sidebar-nav-item">
          <a href="home.html">Home</a>
        </li>

        <li class="sidebar-nav-item">
          <a href="aboutus.html">About</a>
        </li>

        <li class="sidebar-nav-item">
          <a href="data.html">Data</a>
        </li>

        <li class="sidebar-nav-item">
          <a href="ourjourney.html">The Journey</a>
        </li>
        
        <li class="sidebar-nav-item">
          <a href="miscellaneous.html">Miscellaneous</a>
        </li>
      </ul>
    </nav>
    <a id="home"></a>
 <!-- HERO
    ================================================== -->
<div>
  
  
  <div id="container" style="display: flex; flex-direction: row; justify-content: center;">

  <div id="title" class="" style="margin-top: 1%; margin-bottom: 1%">
  <h3 class="text-light" style="font-weight: bold; font-size: 5rem; text-shadow: 5px 5px 10px black;">
    Miscellaneous
    </h3>
  
</div>
  
  </div>
  
  
  
  
  <div id="parent" style="display:flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">
  
  <div style="background-color: white;  height: 40rem; width: 25rem; border-radius: 5rem; flex-basis: 40%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
    <h4 class="text-center" style="font-weight: bold; font-size: 2.5rem; margin-right: 1rem; margin-left: 1rem; margin-top: 2rem;" >
      Tech Stack
    </h4>
 
      
     
        
     
      <div style="display: flex; flex-direction: row;  justify-content: center; flex-wrap: wrap;">
    <div class="techstack">
      
        
        <ul style="list-style-type: circle; font-size: 1.3rem;" class="">
      <br>
      <h5 style="font-weight: bold; font-size:1.5rem;">
        Libraries
      </h5>
      <li><a href="https://numpy.org" target="_blank" rel="noopener noreferrer">Numpy</a></li>
      <li><a href="https://matplotlib.org/" target="_blank" rel="noopener noreferrer">Matplotlib</a></li>
      <li><a href="https://pandas.pydata.org/" target="_blank" rel="noopener noreferrer">Pandas</a></li>
      <li><a href="https://pytorch.org/" target="_blank" rel="noopener noreferrer">Pytorch</a></li>
     </ul>  
      </div>
        <div class="techstack">
      <ul style="list-style-type: circle; font-size: 1.3rem;" class="">
      <br>
      <h5 style="font-weight: bold; font-size:1.5rem;">
        Code
      </h5>
      <li><a href="https://python.org" target="_blank" rel="noopener noreferrer">Python</a></li>
      <li><a href="https://github.com/ultralytics/yolov5" target="_blank" rel="noopener noreferrer">YOLOv.5</a></li>
      <li><a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank" rel="noopener noreferrer">Flask</a></li>
      <li><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Boostrap</a></li>
      <li>HTML, CSS, JS</li>
      </ul>  
        </div>
    <div class="techstack">
        <ul style="list-style-type: circle; font-size: 1.3rem;" class="">
      <br>
      <h5 style="font-weight: bold; font-size: 1.5rem;">
        API's / Tools
      </h5>
      <li><a href="https://serpapi.com/dashboard" target="_blank" rel="noopener noreferrer">SerpAPI</a></li>
      <li><a href="https://roboflow.com" target="_blank" rel="noopener noreferrer">Roboflow</a></li>
      <li><a href="https://colab.research.google.com" target="_blank" rel="noopener noreferrer">GoogleColab</a></li>
      <li><a href="https://wandb.ai" target="_blank" rel="noopener noreferrer">WeightsAndBiases</a></li>
   </ul> 
   </div>
     </div> 
      
    
  </div>
  
  <div style="background-color: white; height: 40rem; width: 25rem; border-radius: 5rem; margin-left: 2rem; flex-basis: 40%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; ">
    <h4 class="text-center" style="font-weight: bold; font-size: 2.5rem; margin-right: 1rem; margin-left: 1rem; margin-top: 2rem;">
      Why are we making this
    </h4>
    <div>
      <ul style="list-style-type: circle; font-size:1.3rem; margin-left: 2rem; margin-right: 2rem;">
        <br>
        <h5 style="font-weight: bold; font-size:1.5rem;">
          Help the Farming Industry
        </h5>
        <li>A reduction in human labor, increasing efficiency</li>
        <li>The speed of identifying increases</li>
        <br>
        <h5 style="font-weight: bold; font-size:1.5rem;">
          Money Saved and more Safety
        </h5>
        <li>More robot work can over time save millions of dollars</li>
        <li>Having AI and robots to do repetitive work such as picking ripe fruit can also reduce the possibility of injuries, like when someone falls off a ladder, or heat exhaustion when picking fruit when it is burning hot outside. A robot with this AI can save time and money.</li>
      </ul>
    </div>
    
    </div>
  
    <div style="background-color: white; height: 40rem; width: 25rem; border-radius: 5rem; margin-top: 2rem; flex-basis: 40%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
      
      <h4 class="text-center" style="font-weight: bold; font-size: 2.5rem; margin-top: 2rem; margin-left: 1rem; margin-right: 1rem;">
        Type of ML Problem
      </h4>
      <div>
      <ul style="list-style-type: circle; font-size:1.3rem; margin-left: 2rem; margin-right: 2rem;">
        <br>
        <h5 style="font-weight: bold; font-size:1.5rem;">
          Supervised Learning
        </h5>
        <li>Fruits are given labels(such as ripe or unripe)</li>
        <li>Then the model learns to determine which class an observation belongs in.</li>
      </ul>
    </div>
      
    </div>
  
    <div style="background-color: white; height: 40rem; width: 25rem; border-radius: 5rem; margin-left: 2rem; margin-top: 2rem; flex-basis: 40%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
      
      <h4 class="text-center" style="font-weight: bold; font-size: 2.5rem; margin-right: 1rem; margin-left: 1rem; margin-top: 2rem;">
        Our Links
      </h4>
      <br>
      <div class="text-center" style="font-size: 1.3rem; ">
        This page's <a href="https://github.com/Experance/Fripen-AI" style="text-decoration: underline;"target="_blank" rel="noopener noreferrer">Github</a>
      </div>
   
      <div style="margin: 2rem; ">
        <ul style="font-size:1.3rem; list-style-type: circle;">
          <li>Hyrum Hansen[<a href="https://github.com/HyrumHansen" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/hyrum-h-28731010b/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li>          
           <li>Andrew Wood[<a href="https://github.com/Experance" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/andrew-wood-936564245/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
          <li>Aviel Wood[<a href="https://github.com/Effervent" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/aviel-wood-28a564245/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
          <li>Dhairya Viramgama[<a href="https://github.com/Dhairya-Gama" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/dhairya-viramgama-386667245/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
          <li>Reign OKeefe[<a href="https://github.com/ReignOkeefe" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/reign-o-keefe-305452231/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
          <li>Rex Ouyang[<a href="https://github.com/Shrekles/Fripen-AI" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/johnny-sjorka-44b667245/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
          <li>Nabiha Jawad[<a href="https://github.com/Experance/Fripen-AI" target="_blank" rel="noopener noreferrer">Github</a>][<a href="https://www.linkedin.com/in/nabiha-jawad-41a565245/" target="_blank" rel="noopener noreferrer">LinkedIn</a>]</li> 
        </ul>
      </div>
   
    </div>
  
  
  </div>
</div>

    <!--  Page Scroll to Top  -->
<!--
    <a class="scroll-to-top" href="#top-header">
        <i class="fa fa-angle-up"></i>
    </a> -->


    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
 

   
      <script src="js/scripts.js"></script> 
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </body>
  </html>